body {
  background-color:rgb(21, 19, 19);
  color:antiquewhite;
}

$left-margin : 24vw;

.container{
  margin-top: 7vw !important;
}

.use-state-title{
  margin-top: 7vw ;
  margin-left: $left-margin ;
}

%based-margins {
  margin-top: 2vw;
  margin-left: $left-margin;
}

.change-btn-title{
  @extend %based-margins;
}

.names-list{
  @extend %based-margins;
  background-color: rgba(236, 255, 255, 0.461);
  border-radius: 2rem;
  width:max-content;
  padding: 1rem;
  display:flex;
  gap:1vw;
}

#claer-data-btn{
  @extend %based-margins;
}


#counter-btn{
  margin-top: 1rem;
  margin-left:26vw; 
}

#counter-title{
  @extend %based-margins;
}


#counter-number{
  margin-left:30vw;
  margin-top: 0.5vw;
}

.profile-images{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  height: 4rem;
  width: 4rem;
}

.user-element{
  background-color: bisque;
  border-radius: 2rem;
  color:black;
  align-items: center;
  margin: 2.5rem;
  max-width: 10rem;
  max-height: 9rem;
}

.git-name{
  margin-left:1rem;
}

#git-title{
  margin-left: 33rem;
  font-size: 3rem;
}

.mrt-heading2{
  @extend %based-margins;
}

.navbar-custom .navbar-nav .nav-link {
  color: antiquewhite;
}

.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: pink;
}
